<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>YK2012ONLINE_MEDIA</string>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>YK2012ONLINE_MEDIA</key>
		<dict>
			<key>MediaInfo</key>
			<data>
			fU9SLobaxDzgDA5GKQsmw+8Kvb7Q65IAgRO6d4GnzyU=
			</data>
		</dict>
	</dict>
</dict>
</plist>
